[buildout]
extends =
    profiles/production.cfg
    profiles/archivarius.cfg
    profiles/tenders.cfg
#    profiles/auctions.cfg
#    profiles/contracts.cfg
#    profiles/plans.cfg

[edge_data_bridge_defaults]
resources_api_server = http://public.api-sandbox.openprocurement.org
