[buildout]
extends = base.cfg journal.cfg versions.cfg
extensions =
parts +=
    logrotate.conf
    logrotate-hourly
    awscli

[circus.ini]
webapp = True
statsd = False
httpd = True
httpd_host = localhost
httpd_port = 8080
# log_size = 134217728
# backup_count = 5

[logrotate.conf]
logs_bucket = openprocurement-logs

[versions]
openprocurement.api = 0.11.3
openprocurement.chronograph = 0.5
openprocurement.concord = 0.1
