[versions]

# Added by buildout at 2014-12-11 17:04:02.308062
APScheduler = 3.0.6
CouchDB = 1.0.1
Genshi = 0.7
Jinja2 = 2.7.3
Paste = 1.7.5.1
PasteDeploy = 1.5.2
Pygments = 2.0.2
Sphinx = 1.3.4
WebOb = 1.6.1
WebTest = 2.0.20
ZEO = 4.0.0
ZODB = 4.0.1
circus = 0.13.0
circus-web = 1.0.0
collective.recipe.sphinxbuilder = 0.8.2
collective.recipe.template = 1.11
coverage = 4.1
jsonpointer = 1.9
mr.developer = 1.31
nose = 1.3.7
persistent = 4.0.8
py = 1.4.26
repoze.lru = 0.6
repoze.profile = 2.1
translationstring = 1.3
venusian = 1.0
waitress = 0.8.10
zc.buildout = 2.2.5
zc.recipe.egg = 2.0.3
zdaemon = 4.0.0
zope.configuration = 4.0.3
zope.deprecation = 4.1.1
zope.interface = 4.1.1
zope.proxy = 4.1.4
ExtendedJournalHandler = 0.0.1

# Required by:
# zope.annotation==4.2.0
BTrees = 4.0.8

# Required by:
# circus-web==0.5
Mako = 1.0.0

# Required by:
# circus-web==0.5
MarkupSafe = 0.23

# Required by:
# circus-web==0.5
TornadIO2 = 0.0.3

# Required by:
# ZEO==4.0.0
# ZODB==4.0.1
# zdaemon==4.0.0
ZConfig = 3.0.4

# Required by:
# zope.securitypolicy==3.7.0
ZODB3 = 3.11.0

# Required by:
# circus-web==0.5
anyjson = 0.3.3

# Required by:
# tornado==4.0.2
backports.ssl-match-hostname = 3.4.0.2

# Required by:
# WebTest==2.0.16
beautifulsoup4 = 4.3.2

# Required by:
# openprocurement.api==0.6
boto = 2.31.1

# Required by:
# tornado==4.0.2
certifi = 14.05.14

# Required by:
# openprocurement.api==0.6
# openprocurement.chronograph==0.0
chaussette = 1.3.0

# Required by:
# openprocurement.api==0.6
cornice = 1.2.0.dev0

# Required by:
# openprocurement.api==0.6
couchdb-schematics = 1.1.1

# Required by:
# collective.recipe.sphinxbuilder==0.8.2
docutils = 0.12

# Required by:
# APScheduler==3.0.1
futures = 2.2.0

# Required by:
# openprocurement.api==0.6
# openprocurement.chronograph==0.0
gevent = 1.1.1

# Required by:
# gevent==1.0.1
greenlet = 0.4.9

# Required by:
# circus==0.11.1
iowait = 0.2

# Required by:
# openprocurement.api==0.6
# openprocurement.chronograph==0.0
iso8601 = 0.1.11

# Required by:
# openprocurement.api==0.6
jsonpatch = 1.9op1

# Required by:
# circus==0.11.1
psutil = 2.1.3

# Required by:
# repoze.profile==2.0
pyprof2calltree = 1.3.2

# Required by:
# openprocurement.chronograph==0.0
pyramid = 1.7

# Required by:
# openprocurement.api==0.6
pyramid-zcml = 1.0.0

# Required by:
# couchdb-schematics==1.1.1
pytest = 2.6.4

# Required by:
# APScheduler==3.0.1
# tzlocal==1.1.2
pytz = 2014.10

# Required by:
# circus-web==0.5
# circus==0.11.1
pyzmq = 14.4.1

# Required by:
# openprocurement.chronograph==0.0
requests = 2.10.0

# Required by:
# couchdb-schematics==1.1.1
schematics = 1.1.1

# Required by:
# mr.developer==1.31
setuptools = 7.0

# Required by:
# cornice==0.17
simplejson = 3.6.5

# Required by:
# WebTest==2.0.16
# sphinxcontrib-httpdomain==1.3.0
six = 1.9.0

# Required by:
# openprocurement.api==0.6
sphinxcontrib-httpdomain = 1.4.0

# Required by:
# circus-web==0.5
tomako = 0.1.0

# Required by:
# circus-web==0.5
# circus==0.11.1
tornado = 4.0.2

# Required by:
# ZODB3==3.11.0
transaction = 1.4.3

# Required by:
# APScheduler==3.0.1
# openprocurement.api==0.6
tzlocal = 1.2.1

# Required by:
# ZEO==4.0.0
# ZODB==4.0.1
zc.lockfile = 1.1.0

# Required by:
# zope.securitypolicy==3.7.0
zope.annotation = 4.2.0

# Required by:
# zope.securitypolicy==3.7.0
zope.authentication = 4.1.0

# Required by:
# zope.authentication==4.1.0
zope.browser = 2.0.2

# Required by:
# zope.security==4.0.1
# zope.securitypolicy==3.7.0
zope.component = 4.1.0

# Required by:
# zope.component==4.2.1
# zope.schema==4.4.2
zope.event = 4.0.3

# Required by:
# zope.configuration==4.0.3
# zope.security==4.0.1
# zope.securitypolicy==3.7.0
zope.i18nmessageid = 4.0.3

# Required by:
# zope.security==4.0.1
# zope.securitypolicy==3.7.0
zope.location = 4.0.3

# Required by:
# zope.configuration==4.0.3
# zope.security==4.0.1
# zope.securitypolicy==3.7.0
zope.schema = 4.4.2

# Required by:
# zope.securitypolicy==3.7.0
zope.security = 4.0.1

# Required by:
# openprocurement.api==0.6
zope.securitypolicy = 3.7.0

# Added by buildout at 2014-12-24 15:07:44.703097
loggly-handler = 0.1.2
requests-futures = 0.9.5

# Added by buildout at 2014-12-25 15:11:07.707739

# Required by:
# openprocurement.chronograph==0.0
SQLAlchemy = 1.0.9

# Added by buildout at 2014-12-25 15:17:13.451978

# Required by:
# openprocurement.chronograph==0.0
pysqlite = 2.8.2

# Added by buildout at 2015-01-02 13:58:50.564639
pyramid-exclog = 0.7

# Added by buildout at 2015-02-02 12:40:23.998491
Babel = 1.3
netaddr = 0.7.13
oslo.config = 1.6.0
oslo.context = 0.1.0
oslo.i18n = 1.3.1
pbr = 0.10.7
request-id-middleware = 0.1.2
stevedore = 1.2.0

# Required by:
# oslo.config==1.6.0
# stevedore==1.2.0
argparse = 1.3.0

# Required by:
# request-id-middleware==0.1.0
oslo.middleware = 0.4.0

# Required by:
# pbr==0.10.7
pip = 6.0.7

# Added by buildout at 2015-02-12 16:03:37.956310
rfc6266 = 0.0.6

# Required by:
# rfc6266==0.0.4
LEPL = 5.1.3

# Added by buildout at 2015-02-25 16:24:09.981530
z3c.recipe.usercrontab = 1.1

# Added by buildout at 2015-02-25 16:31:36.006051
awscli = 1.7.12
bcdoc = 0.13.0
botocore = 0.93.0
colorama = 0.3.3
python-dateutil = 2.4.0
rsa = 3.1.4

# Added by buildout at 2015-02-25 18:12:11.304904

# Required by:
# openprocurement.api==0.7
pbkdf2 = 1.3

# Added by buildout at 2015-09-11 13:47:20.893257

# Required by:
# openprocurement.api==0.8.3
pycrypto = 2.6.1

# Added by buildout at 2015-09-22 12:34:03.471398

# Required by:
# openprocurement.chronograph==0.4
grequests = 0.2.0

# Added by buildout at 2015-09-22 13:06:13.920992
cffi = 1.2.1
cryptography = 1.0.1
idna = 2.0
pyOpenSSL = 0.15.1

# Required by:
# cryptography==1.0.1
enum34 = 1.0.4

# Required by:
# cryptography==1.0.1
ipaddress = 1.0.14

# Required by:
# openprocurement.chronograph==0.4
ndg-httpsclient = 0.4.0

# Required by:
# cffi==1.2.1
pycparser = 2.14

# Added by buildout at 2015-09-22 13:06:49.017720

# Required by:
# openprocurement.chronograph==0.4
pyasn1 = 0.1.8

# Added by buildout at 2015-09-24 10:43:22.158575
server-cookie-middleware = 0.2

# Added by buildout at 2015-09-29 12:36:05.991176

# Required by:
# openprocurement.api==0.9
barbecue = 0.1.dev6

# Added by buildout at 2015-10-20 12:35:21.373718
unweb.recipe.uwsgi = 0.4

# Added by buildout at 2015-10-28 12:05:36.682012
alabaster = 0.7.6
snowballstemmer = 1.2.0
sphinx-rtd-theme = 0.1.9

# Added by buildout at 2015-12-07 12:30:51.730902
zc.sourcerelease = 0.4.0

# Added by buildout at 2016-03-08 15:48:04.063720

# Required by:
# openprocurement.api==0.12b2
repoze.retry = 1.3

# Added by buildout at 2016-04-04 16:44:01.452944

# Required by:
# APScheduler==3.1.0
funcsigs = 0.4

# Added by buildout at 2016-04-28 13:30:39.005399
http-parser = 0.8.3
socketpool = 0.5.3

PyYAML = 3.11
munch = 2.0.4
restkit = 4.2.2
retrying = 1.3.3
python-consul = 0.6.0
LazyDB = 0.1.68


# Added by buildout at 2016-07-06 16:23:16.984913
openprocurement-client = 1.0b2

# Required by:
# openprocurement.api==2.3.3
# openprocurement.documentservice==1.0
libnacl = 1.4.5

# Added by buildout at 2016-11-04 17:46:59.708094
redis = 2.10.5
z3c.recipe.mkdir = 0.6

