[buildout]
extends = 
	base.cfg
	journal.cfg
	versions.cfg
extensions =
parts +=
    logrotate.conf
    logrotate-hourly
    awscli

[circus.ini]
webapp = True
statsd = False
# log_size = 134217728
# backup_count = 5

[logrotate.conf]
logs_bucket = openprocurement-logs

[versions]
openprocurement.api = 2.3.54
openprocurement.chronograph = 0.6.5
openprocurement.concord = 0.4
openprocurement.planning.api = 2.3.8
openprocurement.tender.limited = 2.3.25
openprocurement.tender.openeu = 2.3.32
openprocurement.tender.openua = 2.3.25
openprocurement.tender.openuadefense = 2.3.25
openprocurement.tender.competitivedialogue = 1.0.15
openprocurement.contracting.api = 2.3.20
openprocurement-client = 1.0b2
penstock = 0.2.0
